.news {
	@extend %text_regular;
	@extend %text_wight;
	padding-bottom: 100px;

	&__img {
		margin-bottom: 100px;
	}

	.&__items {
		display: flex;
		flex-basis: 50%;
	}

	.&__item {
		display: flex;
		flex-basis: 50%;

		&-number {
			@extend %text_red;
			margin-right: 75px;
		}

		&-text {
			margin-right: 60px;
		}
	}
}



