:root {
	--width-sandwich: 60px;
	--width-long: 36px;
	--color-line: #ffffff;
}

.sandwich {
	width: var(--width-sandwich);
	padding: 15px 12px;
	border: 1px solid var(--color-line);
}

.long-line {
	width: var(--width-long);
	border: 1px solid var(--color-line);
	border-radius: 1px;
	transition-duration: 0.5s;
}

.long-line + .long-line {
	margin-top: 11px;
}
