.slider {
	max-width: 100rem;
	height: 50rem;
	margin: 0 auto;
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;background-color: #020202;
	opacity: 1;
	bottom: 26px;
	border-radius: 50%;
	margin: 0 15px;
}
