%text_wight {
	color: #ffffff;
}

%text_black {
	color: #0b0b0b;
}

%text_red {
	color: #b70021;
}

%bg-color_black {
	background-color: #0b0b0b;
}

%bg-color_red {
	background-color: #690102;
}

%title_0 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 96px;
}

%title_1 {
	font-family: 'RobotoCondensed', sans-serif;
	font-weight: 400;
	font-size: 36px;
}

%text_regular {
	font-family: 'RobotoCondensed', sans-serif;
	font-weight: 400;
	font-size: 24px;
}

%text_bold {
	font-family: 'RobotoCondensed', sans-serif;
	font-weight: 700;
	font-size: 24px;
}