.video {
	@extend %bg-color_black;
	position: relative;
	margin-bottom: 100px;
}

.video__iframe::after {
	content: '';
	position: absolute;
	background: rgb(21, 21, 21, .3);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
}

.video__iframe {
	z-index: -1;
}

.video__img {
	position: absolute;
	top: 0;
	z-index: 2;
}