@import 'base/*.scss';
@import 'global/*.scss';
@import '../components/**/*.scss';
@import '**/_*.scss';

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

@import '_header.scss';

@import '_footer.scss';