<section class="advantage">
	<div class="container">
		<div class="advantage__items">
			<div class="advantage__item">
				<div class="advantage__item-info">
					<h2 class="advantage__item-title">Скорость</h2><!-- /.advantage__item-text -->
					<p class="advantage__item-text">
						Самый<br>
						быстроразгоняющийся<br>
						серийный автомобиль<br>
						из когда-либо созданных</p><!-- /.advantage__item-text -->
				</div><!-- /.advantage__item-text -->
				<img class="advantage__item-img" src="images/speed.jpg" alt="">
			</div><!-- /.advantage__item -->
			<div class="advantage__item advantage__item-revers">
				<div class="advantage__item-info">
					<h2 class="advantage__item-title-revers">Преимущества</h2><!-- /.advantage__item-text -->
					<p class="advantage__item-text">
						Датчик дождя<br>
						Датчик света<br>
						Автопилот<br>
						Навигационная система<br>
						Обогрев зеркал<br>
						Усилитель руля<br>
						Панорамная крыша<br>
						Ксеноновые фары</p><!-- /.advantage__item-text -->
				</div><!-- /.advantage__item-text -->
				<img class="advantage__item-img-revers" src="images/advantage.jpg" alt="">
			</div><!-- /.advantage__item -->
		</div><!-- /.advantage__items -->
	</div><!-- /.container -->
</section><!-- /.advantage -->