<footer class="footer flex --dir-col">
	<div class="footer__btn">
		@@include('_btn.html')
	</div>
	<nav class="footer__nav">
		<ul class="footer__items flex">
			<li class="footer__item">
				<a href="#" class="footer__link">Tesla © 2020</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Privacy & Legal</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Contact</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Careers</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Get Newsletter</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Forums</a>
			</li>
			<li class="footer__item">
				<a href="#" class="footer__link">Locations</a>
			</li>
		</ul>
	</nav>
</footer>