<header class="header">
	<div class="container">
		<div class="header__content">
			<div class="header__nav">
				<div class="header__logo" href="#">
					<a class="header__link" href="#">
						<img class="header__logo-img" src="@@logo" alt="">
					</a>				
				</div>
				@@include('_sandwich.html')
			</div>
			<div class="header__info">
				<h1 class="header__info-title">Roadster</h1>
				<p class="header__info-text">
					Самый быстрый автомобиль в мире, 
					с рекордным ускорением, 
					дальностью и производительностью.
				</p>
			</div>
			<div class="header__btn">
				@@include('_btn.html')
			</div>
		</div>
	</div>
</header>