<section class="news">
	<div class="container">
		<img class="news__img" src="images/interier.jpg" alt="">
		<div class="news__items">
			<div class="news__item">
				<div class="news__item-number">01</div><!-- /.news__item-number -->
				<div class="news__item-text">
					Новый родстер был разработан бывшим дизайнером Mazda 
					Францем фон Хольцхаузеном. <br> Имеет съёмную стеклянную 
					крышу и кузов с двумя передними сиденьями плюс два 
					небольших сиденья сзади.
				</div><!-- /.news__item-text -->
			</div><!-- /.news__item -->
			<div class="news__item">
				<div class="news__item-number">02</div><!-- /.news__item-number -->
				<div class="news__item-text">
					Родстер имеет три электродвигателя, один спереди и два сзади. <br> 
					Они обеспечивают полный привод, а также систему адресного 
					распределения крутящего момента для лучшего прохождения поворотов.
				</div><!-- /.news__item-text -->
			</div><!-- /.news__item -->
		</div><!-- /.news__items -->
	</div><!-- /.container -->
</section><!-- /.news -->