<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
			<img src="images/slide-1.jpg" alt="">
		</div>
    <div class="swiper-slide">
			<img src="images/slide-2.jpg" alt="">
		</div>
    <div class="swiper-slide">
			<img src="images/slide-3.jpg" alt="">
		</div>
  </div>
  <!-- If we need pagination -->
  <div class="container">
    <div class="swiper-pagination"></div>
  </div>
  
</div>